body {
    background-image: url('./túnelcolorido.jpg');
    background-size: contain;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.utopia {
    text-align: center;
    color: white;
    margin-top: 15px;
}
.div {
    justify-content: center;
    display: flex;
    align-items: center;
}
button {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
    height: 40px;
    width: 90px;
    font-size: 15px;
}
.red {
    color: red;
    margin-top: 15px;
    text-align: center;
    font-family: cursive;
}