body {
    background-image: url('./fundo-de-efeito-vhs_23-2150130954.avif');
    background-size: contain;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.will {
    text-align: center;
    font-size: 100px;
    padding-top: 50px;
    color: white;
}
.wili {
    text-align: center;
    font-size: 85px;
    padding-top: 10px;
    color: white;
    font-family: monospace;
}
.wilian {
    text-align: center;
    color: white;
    padding-top: 10px;
    font-size: 20px;
}