body {
    background-image: url('./DarkRooms.avif');
    background-size: contain;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.local {
    margin-top: 10px;
    text-align: center;
    border: solid 2px red;
    background-color: black;
    color: white;
}
.salto {
    margin-top: 15px;
    text-align: center;
}
.neg {
    text-align: center;
    margin-top: 15px;
    color: red;
}
.blue {
    text-align: center;
    margin-top: 15px;
    color: rgb(36, 157, 197);
}
.div {
    justify-content: center;
    display: flex;
    align-items: center;
}
button {
    margin-top: 20px;
    border-radius: 10px;
    height: 40px;
    width: 50px;
    font-size: 20px;
}